.ui.grid {
  height:79.7vh;
}

#widget-panel {
  padding-left: 1.5vw;
}

/* Text sizing and alignment */
#title {
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  padding-top: 1vh;
  padding-bottom: 2.5vh;
}

/* Left column with filters and checkboxes */
#widget-label {
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}


#filter-title {
  text-align: center;
  font-size: large;
  padding-bottom: 0.5vh;
  margin-top: 1em;
}

.p {
  text-align: center;
  padding-top: 1.2vh;
}

#checkbox-row {
  padding-top:1vh;
  padding-left: 4vh;
  padding-bottom:2vh;
}

#typ-E-container {
 padding-bottom: 0%;
}

#slider-container {
  padding-top: 0.5vh;
  padding-bottom: 0;
}
/* Data table */ 
#data-table-container {
  margin-bottom: 0;
  padding-bottom: 0;
}
#data-table3 {
  height:79.7vh;
  margin-bottom: 0;
}

/* Container sizing */
#container{
  padding-bottom: 0;
  margin-bottom: 0;
}
#gridplots {
  height:79.7vh;
}
/* Sizing the individual plots */
#gridplots .five.wide.column{
  padding: 0;
  margin:0;
}

.c3 {
  height: 25vh;
}
/* Handling the pop-up window */
#close {
  margin-right: 0;
  float:right;

}

.hidden {
  display: none;
}

#plot-container {
  border-style: solid;
  border-radius:5px;
  border-color: rgba(34,36,38,.15);
  margin-top: 1em;
  margin-right: 2vw;
}

.c3-line-envForce {
  stroke-width: 1.5px;
}

#crackmap-toggle{
  width: 10vw;
  display: inline-block;
}

/* Tabulator */
.tabulator-tableholder, .tabulator-header {
  font-size: 12px;
}

/* Pagination */
.pagination{
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2vh;
}

.pagination a {
  /* display: inline-block; */
  margin: 0;
  margin-top: 0.2vh;
  padding:.5em 0.5em;
  line-height: 1;
  flex:0 0 auto;
  -webkit-tap-highlight-color:transparent;
  -webkit-box-flex:0;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  background-color: 0 0;
  color:rgba(0,0,0,0.87);
  border: 1px solid rgba(34, 36, 38, 0.349);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}
.pagination a:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.171);
  color: rgba(0,0,0,.95);
  
}

.pagination .page.current{
  background-color: rgba(0, 0, 0, 0.185)
}

.pagination .nav.prev{
  border-radius: .28571429rem 0 0 .28571429rem;
}

.pagination .nav.prev.disabled {
  border-radius: .28571429rem 0 0 .28571429rem;
  cursor:default!important;
  background-color: transparent!important;
  color: rgba(40,40,40,.3)!important;
  pointer-events: none;
}

.pagination .nav.next {
  border-radius: 0 .28571429rem .28571429rem 0;
}

.pagination .nav.next.disabled {
  border-radius: 0 .28571429rem .28571429rem 0;
  cursor:default!important;
  background-color: transparent!important;
  color: rgba(40,40,40,.3)!important;
  pointer-events: none;
}


/* Tooltip text */
#info-tooltip-text {
  visibility: hidden;
  background: #ECF0F1;
  color: #607D8B;
  border-radius: .25em;
  overflow: auto;
  padding: 1em 2.5em;
  text-align: justify;
  width: fit-content;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

#no-data {
  height: 28vh;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

#crack-map{
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

#photo{
  text-align: center;
}

.ref {
  padding-top: 2vh;
  padding-left: 2vw;
}
