#gridplots {
    /* width: 60%; */
    /* float:right; */
    overflow: scroll;
    /* height:80vh; */
}

#gridplots .five.wide.column{
  height:28vh;
  padding: 0;
}

.c3 {
  height: 28vh;
}

/* Text sizing and alignment */
#title {
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  padding-top: 1vh;
  padding-bottom: 2.5vh;
}

#filter-title {
  text-align: center;
  font-size: large;
  padding-bottom: 1vh;
  margin-top: 1em;
}

#widget-label {
    text-align: center;
    font-size: medium;
    /* padding-bottom: 2.1vh; */
}

.p {
  text-align: center;
  /* padding-bottom: 2vh; */
  padding-top: 1.2vh;
}

#checkbox-row {
  padding-top:1vh;
  padding-left: 4vh;
  padding-bottom:2vh;
}

#close {
  /* padding:0; */
  /* display: flex; */
  /* border-color: black;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.5em; */
  margin-right: 0;
  float:right;

}

.hidden {
  display: none;
}

#plot-container {
  border-style: solid;
  border-radius:5px;
  border-color: rgba(34,36,38,.15);
  margin-top: 1em;
  margin-right: 2vw;
}

.c3-line-envForce {
  stroke-width: 1.5px;
}

#crackmap-toggle{
  width: 10vw;
  display: inline-block;
}

/* Container sizing */
.ui.grid {
  height: 84vh;
}

/* Tabulator */
.tabulator-tableholder, .tabulator-header {
  font-size: 12px;
}


/* Pagination */
.pagination{
  display: block;
  padding-top: 2vh;
}


.pagination a {
  display: inline-block;
  margin: 0;
  margin-top: 0.2vh;
  padding:.5em 0.5em;
  line-height: 1;
  flex:0 0 auto;
  -webkit-tap-highlight-color:transparent;
  -webkit-box-flex:0;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  background-color: 0 0;
  color:rgba(0,0,0,0.87);
  border: 1px solid rgba(34, 36, 38, 0.349);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}
.pagination a:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.171);
  color: rgba(0,0,0,.95);
  
}

.pagination .page.current{
  background-color: rgba(0, 0, 0, 0.185)
}

.pagination .nav.prev{
  border-radius: .28571429rem 0 0 .28571429rem;
}

.pagination .nav.prev.disabled {
  border-radius: .28571429rem 0 0 .28571429rem;
  cursor:default!important;
  background-color: transparent!important;
  color: rgba(40,40,40,.3)!important;
  pointer-events: none;
}

.pagination .nav.next {
  border-radius: 0 .28571429rem .28571429rem 0;
}

.pagination .nav.next.disabled {
  border-radius: 0 .28571429rem .28571429rem 0;
  cursor:default!important;
  background-color: transparent!important;
  color: rgba(40,40,40,.3)!important;
  pointer-events: none;
}


/* Tooltip text */
#info-tooltip-text {
  visibility: hidden;
  background: #ECF0F1;
  color: #607D8B;
  border-radius: .25em;
  overflow: auto;
  padding: 1em 2.5em;
  text-align: justify;
  width: fit-content;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

#no-data {
  height: 28vh;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

#crack-map{
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

#photo{
  text-align: center;
}

.ref {
  padding-top: 2vh;
  padding-left: 2vw;
}

#widget-panel {
  padding-left: 1.5vw;
}