#gridplots {
    width: 60%;
    height: 100%;
    /* float:right; */
    /* overflow: scroll; */
}

#gridplots div {
    display: inline-flexbox;
    /* width:60%; */
    /* height:60%; */
    /* display: inline-block; */
    /* float:left; */
    /* height: fit-content; */
    /* width: 50%; */

} 

.slider-name {
    text-align: center;
}